---
import './NavBar.css';
---

<nav class="navbar">
  <a href="/" class="logo">
    <img src="/logo.svg" alt="FlameCoin logo" width="40" height="40" />
  </a>
  <input id="menu-toggle" type="checkbox" class="menu-toggle" />
  <label for="menu-toggle" class="hamburger" aria-label="Menu">
    <span></span>
  </label>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/docs">Docs</a></li>
    <li><a href="/tokenomics">Tokenomics</a></li>
    <li><a href="/story">Story</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
